.top-nav-bar {
  /* background-color: rgb(66, 163, 253); */
  height: 80px;
  padding: 1em;
  opacity: 0.9;
  font-size: 18px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: row;
  border-bottom: 10px solid #e6e6fa;
}

/* #puzzleboxloggedin {
  display: flex;
  justify-content: center;
} */

.top-nav-bar a {
  text-decoration: none;
  font-size: 40px;
  font-weight: bold;
  font-family: "Love Ya Like A Sister", cursive;
  /* font-family: 'Cinzel', serif; */
}

.top-nav-bar-right {
  margin-left: auto;
  width: 10%;
  display: flex;
  justify-content: space-around;
}

.top-nav-bar-right > a{
    margin: 0 3%;
    width: 20%;
}

.puzzleboxLoggedIn {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.right-icon {
    margin-right: 20px;
}